# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# TypeScript cache
*.tsbuildinfo
